#include <windows.h>
#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

#ifndef EXCLUDE_XPSTYLE
1 24 "xpstyle.manifest"
#endif

100  ICON  "sgf2gif.ico"

200 DIALOGEX 100, 100, 180, 110
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU

CAPTION "Options - sgf2gif"
FONT 9, "Tahoma", 0, 0, 0x0
BEGIN
	RTEXT "Speed:", ID_STATIC1 ,8,8,40,14
	EDITTEXT IDC_EDIT_DELAY, 50,8,120,14
	RTEXT "Show Num:", ID_STATIC2 ,8,26,40,14
	EDITTEXT IDC_EDIT_NUMBERS, 50,26,120,14
	RTEXT "Split:", ID_STATIC3 ,8,42,40,14
	EDITTEXT IDC_EDIT_SPLIT, 50,42,120,14
	RTEXT "Stone Size:", ID_STATIC4 ,8,60,40,14
	EDITTEXT IDC_EDIT_CW, 50,60,120,14

  DEFPUSHBUTTON	"OK", IDOK  ,50,85,80,16
END


